*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Nunito;
}
@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

body{
    background: #292929;
}
.noScroll{
    overflow-y: hidden;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.headTitle{
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 9997;
}

nav{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
nav img{
    margin-right: auto;
    color: white;
    width: 100px;
    height: 100px;
}
nav a{
    margin: 5px;
    padding: 10px;
    color: rgb(186, 0, 0);
    transition: 0.5s;
    position: relative;
}
nav a:hover, #currentNavBtn{
    color: rgb(255, 116, 116);
    text-shadow: 0 0 20px red;
}
nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0%;
    height: 5%;
    background: ;
    z-index: -1;
    transition: 0.5s;
}
nav a:hover::before, #currentNavBtn::before{
    width: 100%;
    background: rgb(255, 116, 116);
    box-shadow: 0 0 20px red;
}

.link{
    color: red;
}
.link:hover{
    text-decoration: underline;
}

.screen{
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
}
.screen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.screen div{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}
.screen div h1{
    font-size: 50px;
}
.screen div p{
    font-size: 30px;
}

.screen.small{
    height: 50vh;
}
.screen.small h3{
    margin-bottom: 20px;
    font-size: 24px; 
}
.screen.small p{
    font-size: 16px;
}

.infoBlock{
    margin: 80px 0;
    padding: 30px 50px;
    width: 50%;
    text-align: center;
    color: white;
    background: #1E1E1E;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}
.infoBlock h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}
.infoBlock p{
    position: relative;
    top: 50%;
    height: 50%;
    font-size: 16px;
}

.infoBlock img{
    margin: 80px 0;
    padding: 30px 50px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    position: relative;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background: rgb(14, 14, 14);
}
footer p{
    color: #5B5B5B;
}
footer #copyright{
    color: #8E8E8E;
    font-weight: bold;
}

.popupBG{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
    display: none;
    z-index: 9999;
}

.popup{
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    position: relative;
    color: white;
    background: rgb(14, 14, 14);
}
.popup h3{
    font-size: 25px;
}
.popup .closePopup{
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    border: none;
    background: rgba(0,0,0,0);
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
}
.popup .closePopup:hover{
    color:rgb(255, 116, 116);
    text-shadow: 0 0 20px red;
}
.popup form{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}
.popup form input{
    margin: 10px;
    padding: 10px;
    color: white;
    background: #5B5B5B;
    font-size: 18px;
    border: none;
}
.popup div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.popup input[type="submit"], .importantBtn{
    margin: 20px 0;
    padding: 10px;
    position: relative;
    background: none;
    cursor: pointer;
    width: 300px;
    color: white;
    background: red;
    font-weight: bold;
    border: none;
    font-size: 20px;
    transition: 0.4s;
}
.popup input[type="submit"]:hover, .importantBtn:hover{
    color: red;
    background: white;
}

.slides{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.slide{
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    position: relative;
}
.slide div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
    transition: 0.4s;
}
.slide:hover div{
    bottom: 0;
}
.slide div span{
    color: rgba(255, 255, 255, 0);
    transition: 0.4s;
}
.slide:hover span{
    color: white;
}

.horizontal{
    display: flex;
    flex-direction: row;
}
.horizontal.wrap{
    flex-wrap: wrap;
    justify-content: center;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.red{
    color: red;
}

.card{
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 400px;
    min-width: 200px;
    background: #1E1E1E;
    color: white;
}
.card h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.card p, .card ul{
    margin-bottom: 20px;
}
.card a{
    text-align: center;
}

.card.bigger{
    width: 500px;
}

#primeHeader{
    color: red;
}
#payment div{
    margin: 0 20px;
    text-align: center;
}
#payment b{
    color: red;
    font-size: 24px;
}